@import url("header.css");
@import url(//db.onlinewebfonts.com/c/54b9af0b935475d59a4bc1f6cdad764b?family=Jokerman);

@import "sidebar.css";


.container {
    display: flex;
    flex-direction: column;
    background-image: url("https://www.fg-a.com/animated-bgs/2019-yellow-black-aimated-background.gif"); 

}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 41%;
    
}

.grandma {
    transform: rotate(180deg);
}

#onomatopoeia {
    transform: rotate(270deg);
}

.header-section {
    position: fixed;
    bottom: 5em;
    width: 100%;
    
}

.console {
    background-color: yellow;
    color: red;
}


#reload {
    width: 50%;
    margin-bottom: 25%;
}

/* 
Title should stick to the bottom of the page as you scroll DONE
submit button that is hidden at the top?

**stretch goals**
place sidebars
*/